{
    "name": "pullpkg/private-packages",
    "homepage": "https://packages.example.com",
    "repositories": [
        {
            "type": "vcs",
            "url": "git@github.com:your-org/filament-shadcn-theme.git"
        }
    ],
    "require": {
        "irajul/filament-shadcn-theme": "*"
    },
    "archive": {
        "directory": "dist",
        "format": "zip",
        "skip-dev": true
    }
}
